<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Blog | React</title>
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="Blog | React">
  <meta property="og:type" content="website">
  <meta property="og:url" content="/help-doc/v008/blog/index.html">
  <meta property="og:image" content="/help-doc/v008/img/logo_og.png">
  <meta property="og:description" content="A JavaScript library for building user interfaces">
  <meta property="fb:app_id" content="623268441017527">

  <link rel="shortcut icon" href="/help-doc/v008/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="React" href="/help-doc/v008/feed.xml">

  <link rel="stylesheet" href="/help-doc/v008/css/syntax.css">
  <link rel="stylesheet" href="/help-doc/v008/css/codemirror.css">
  <link rel="stylesheet" href="/help-doc/v008/css/react.css">

  <script type="text/javascript" src="//use.typekit.net/vqa1hcx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if lte IE 8]>
  <script type="text/javascript" src="/help-doc/v008/js/html5shiv.min.js"></script>
  <script type="text/javascript" src="/help-doc/v008/js/es5-shim.min.js"></script>
  <script type="text/javascript" src="/help-doc/v008/js/es5-sham.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/help-doc/v008/js/codemirror.js"></script>
  <script type="text/javascript" src="/help-doc/v008/js/javascript.js"></script>
  <script type="text/javascript" src="/help-doc/v008/js/react.js"></script>
  <script type="text/javascript" src="/help-doc/v008/js/JSXTransformer.js"></script>
  <script type="text/javascript" src="/help-doc/v008/js/live_editor.js"></script>
</head>
<body>

  <div class="container">

    <div class="nav-main">
      <div class="wrap">
        <a class="nav-home" href="/help-doc/v008/index.html">
          <img class="nav-logo" src="/help-doc/v008/img/logo.svg" width="36" height="36">
          React
        </a>
        <ul class="nav-site nav-site-internal">
          <li><a href="/help-doc/v008/docs/getting-started.html">Docs</a></li>
        </ul>

      </div>
    </div>

    

    <section class="content wrap blogContent">
  <div class="nav-docs nav-blog">
  <div class="nav-docs-section">
    <h3>Recent posts</h3>
    <ul>
      
        <li><a href="/react/blog/3000/01/01/gfm.html">GFM</a></li>
      
        <li><a href="/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html">Deprecating JSTransform and react-tools</a></li>
      
        <li><a href="/react/blog/2015/05/22/react-native-release-process.html">React Native Release Process</a></li>
      
        <li><a href="/react/blog/2015/05/08/react-v0.13.3.html">React v0.13.3</a></li>
      
        <li><a href="/react/blog/2015/05/01/graphql-introduction.html">GraphQL Introduction</a></li>
      
        <li><a href="/react/blog/2015/04/18/react-v0.13.2.html">React v0.13.2</a></li>
      
        <li><a href="/react/blog/2015/04/17/react-native-v0.4.html">React Native v0.4</a></li>
      
        <li><a href="/react/blog/2015/03/30/community-roundup-26.html">Community Round-up #26</a></li>
      
        <li><a href="/react/blog/2015/03/26/introducing-react-native.html">Introducing React Native</a></li>
      
        <li><a href="/react/blog/2015/03/19/building-the-facebook-news-feed-with-relay.html">Building The Facebook News Feed With Relay</a></li>
      
      <li><a href="/react/blog/all.html">All posts ...</a></li>
    </ul>
  </div>
</div>

  <div class="inner-content">
    
      <div class="post-list-item">
        


<h1>

  <a href="/react/blog/3000/01/01/gfm.html">GFM</a>

</h1>

<p class="meta">
  January  1, 3000
  by
  
    
  
</p>

<hr>

<div class="post">
  <p>jekyll + lunrjs 的调通方法已经在 #2 中描述过，所以这里只讲实现 github help 站点文档结构的步骤。</p>
<h3><a class="anchor" name="jekyll-"></a>jekyll 环境说明 <a class="hash-link" href="#jekyll-">#</a></h3>
<ul>
<li>若无特别说明，所有形如 <code>YYYY-MM-DD-article-title.md</code> 文档的 Front Matter 中均含有 <code>title: Article Title</code>，而且 Front Matter 中的 title 与 <em>.md 文件名中的 title 严格对应（不区分大小写），</em>.md 中的 <code>-</code> 严格替换为 <code></code>。</li>
<li>我使用的 jekyll 文件夹名为 <code>help-doc</code></li>
<li>我使用的 jekyll 模板结构大概如下图所示
<code>
help-doc/
├── _categories
│   ├── bootcamp.md
│   └── setting-up-and-managing-organizations-and-teams.md
├── _creating_a_new_organization_account
│   ├── 2015-02-08-creating-a-new-organization-from-scratch.md
│   └── 2015-02-09-about-organizations.md
├── css
│   └── ...
├── _data
│   └── conrefs.yml
├── fonts
│   └── ...
├── _includes
│   ├── category-articles.html
│   ├── footer.html
│   ├── header.html
│   ├── head.html
│   ├── search.html
│   ├── sidebar.html
│   └── sub-articles.html
├── _layouts
│   ├── category.html
│   ├── default.html
│   ├── page.html
│   └── post.html
├── _posts
│   ├── 2015-02-10-creating-a-new-organization-account.md
│   ├── 2015-01-01-set-up-git.md
│   └── 2015-01-02-create-a-repo.md
├── _sass
│   └── ...
├── search
│   └── index.html
├── about.md
├── _config.yml
├── feed.xml
└── index.html
</code></li>
</ul>
<h3><a class="anchor" name="-jekyll--github-help-"></a>利用 jekyll 构建 github help 站点文档结构的步骤描述 <a class="hash-link" href="#-jekyll--github-help-">#</a></h3>
<ul>
<li>帮助文档的 markdown 源码要放在哪里，才能通过 Jekyll 输出到前端？
先编写文档内容，然后按照 YYYY-MM-DD-help-topic.md 的文件格式命名，最后根据实际情况放进以下两个位置：

<ul>
<li>对于独立的帮助文档，直接放在 <code>_posts</code> 目录下</li>
<li>对于“隶属于”某个独立父帮助文档的“子文档”，根据子文档的实际分类，放在形如 <code>_category_name</code> 这样的目录下</li>
</ul></li>
</ul>

<hr>

<ul>
<li>如何让 Jekyll 输出类似 https://help.github.com/articles/set-up-git/ 这样的网址？
编辑 _config.yml 文档，增加/修改这一行：
<code>permalink: /articles/:title/</code></li>
</ul>

<hr>

<ul>
<li>如何让 Jekyll 输出类似 https://help.github.com/categories/bootcamp/ 这样的分类索引页？
分多个步骤实现：

<ul>
<li>在已有的，属于 bootcamp 这一类的帮助文档的 markdown 源码 Front Matter 中增加这段内容：
<code>categories: [&#39;bootcamp&#39;]</code>
至少要有一篇属于 bootcamp 分类的帮助文档，才能在首页上列出相关的分类。分类名称支持大写字母、小写字母、空格等，但真正存储到 Jekyll 模板系统的内存中时，<strong>貌似</strong>都会变为小写。</li>
<li>编辑 _config.yml 文档，在其中增加这段定义 collection 的内容：
<code>yml
collections:
categories:
output: true
permalink: /categories/:path/
</code>
如果不定义这个，仅仅能在首页看到分类索引页的链接，但无法打开目标网页。</li>
<li>在 <code>_categories</code> 目录下创建一个名为 <code>bootcamp.md</code> 的文件（文件名采用大写字母还是小写会造成不同效果，要注意），其内容如下：
```markdown
---
layout: category
---</li>
</ul></li>
</ul>

<p>{% assign cat-title-array=page.url | split:&#39;/&#39;%}
{% assign cat-title=cat-title-array[2] | replace:&#39;-&#39;,&#39; &#39;%}
{% assign cat-obj=site.categories[cat-title]%}
{% include category-articles.html which-cat=cat-obj%}<br>
<code>
  如果不定义这个，或者文件名与分类名不一致，仍然会出现导航中有分类索引页的链接，但实际点不开的情况。如果想定义别的分类，比如</code>manage-organization<code>分类，仍然按这个步骤来做，文件内容不变，只有文件名需要改为</code>manage-organization.md<code>
  - 在</code>_layouts<code>目录下创建一个名为</code>category.html``` 的网页布局文件，其内容如下：</p>
<h2><a class="anchor" name="-html"></a>  ```html <a class="hash-link" href="#-html">#</a></h2><h2><a class="anchor" name="layout-default"></a>layout: default <a class="hash-link" href="#layout-default">#</a></h2>
<p>{% assign page-title-array=page.url | split:&#39;/&#39;%}
{% assign page-title=page-title-array[2] | replace:&#39;-&#39;,&#39; &#39; | capitalize%}</p>

<h1>Category / {{ page-title}}</h1>
    

<p>{{ content}}
<code>
  单个分类索引网页需要引用这个网页布局文件。
  - 在</code>_include<code>目录下创建一个名为</code>category-articles.html<code>的包含文件，其内容如下：
</code>html
<ul>
  {% for post in include.which-cat%}
    <li>
      <a class='post-link' href='{{ post.url | prepend: site.baseurl | prepend: site.url}}'>{{ post.title}}</a>
    </li>
  {% endfor%}
</ul>
<code>
  单个分类索引网页需要引用这个网页包含文件。
  关于</code>{% include tmpl.html var-name=sth%}<code>和</code>{{ include.var-name}}``` 这种特殊语法的介绍，请参考 http://jekyllrb.com/docs/templates/ 中的 <strong>ProTip：Use variables as file name</strong></p>

<hr>

<ul>
<li>如何利用 Jekyll 输出类似于 https://help.github.com/articles/creating-a-new-organization-account/ 这样的 “子文档列表”？
首先要在 <code>_posts</code> 目录下创建一个独立的父帮助文档：<code>2015-02-10-creating-a-new-organization-account.md</code>，然后进行下列操作步骤：

<ul>
<li>修改 <code>_config.yml</code> 文件内容，增加一个对应的 collection：
<code>yml
collections:
categories:
output: true
permalink: /categories/:path/
creating_a_new_organization_account:  # 这里是新增加的 collection，单词之间必须用</code>_<code>分隔
output: true
permalink: /articles/:title/  # 子文档的超链接，以 /articles/xxx-xxx-xxx/ 的方式输出
</code></li>
<li>在独立帮助文档 <code>2015-02-10-creating-a-new-organization-account.md</code> 的 markdown 源码末尾处增加一段获取子文档列表的代码：
```markdown
---
layout: post
categories: [&#39;Setting up and managing organizations and teams&#39;]
---</li>
</ul></li>
</ul>

<p>You can create a new organization by either setting up a new organization or converting an existing personal account into an organization.</p>

<p>{% assign coll-title-array=page.url | split:&#39;/&#39;%}
{% assign coll-title=coll-title-array[2] | replace:&#39;-&#39;,&#39;<em>&#39; | downcase%}
{% assign coll-obj = site.collections[coll-title].docs%}
{% include sub-articles.html which-coll=coll-obj%}
<code>
  - 在 jekyll 的根目录下创建一个新的 collection 目录：</code></em>creating<em>a</em>new<em>organization</em>account<code>，这里单词之间必须用</code><em><code>分隔。
  - 在新创建的 collection 目录下增加一系列子文档，均以 markdown 文档方式给出。
</code>
help-doc/
├── _creating</em>a<em>new</em>organization<em>account
│   ├── 2015-02-08-creating-a-new-organization-from-scratch.md
│   └── 2015-02-09-about-organizations.md
<code>
  - 在分类索引页的包含文件</code></em>include/category-articles.html<code>中增加下列内容
</code>html
<ul>
  {% for post in include.which-cat%}
    <li>
      <a class='post-link' href='{{ post.url | prepend: site.baseurl | prepend: site.url}}'>{{ post.title}}</a>
        &lt;!-- 如果当前文章有下属的子文章，就顺便列出它们 --&gt;
        {% assign post-id = post.title | replace:&#39; &#39;,&#39;<em>&#39; | downcase%}
        {% if site.collections[post-id].label == post-id%}
          {% assign coll-obj = site.collections[post-id].docs%}
          {% include sub-articles.html which-coll=coll-obj%}
        {% endif%}
       &lt;!-- 子文档列表功能 增加的代码部分结束 --&gt;
    </li>
  {% endfor%}
</ul>
<code>
  - 在</code></em>include<code>目录下增加一个名为</code>sub-articles.html<code>的包含文件，其内容如下
</code>html
<ul>
  {% for post in include.which-coll%}
    <li><a class='post-link' href='{{ post.url | prepend: site.baseurl | prepend: site.url}}'>{{ post.title}}</a></li>
  {% endfor%}
</ul>
```
  分类索引文件和独立的父文档文件都需要引用这个包含文件。</p>

<hr>

<ul>
<li>如何实现 github help 文档中的 <code>conrefs</code> 内容复用？

<ul>
<li>首先在 jekyll 的源码目录下创建一个 <code>_data</code> 目录</li>
<li>在 <code>_data</code> 目录下创建 <code>conrefs.yml</code> 文件，其内容根据实际需要而定
```yml
repositories:
create-new:
1. In the upper-right corner of any page, click {{ octicon-plus}}, and then click <strong>New repository</strong>.
<img src="https://help.github.com/assets/images/help/repository/repo-create.png" alt="New repository menu"></li>
</ul></li>
</ul>

<p>wiki:
  click-profile:
    1. <img src="/assets/images/help/profile/top_right_avatar.png" alt="Profile photo">In the top right corner of any page, click your profile photo, then click <strong>Your profile</strong>.<br>
<code>
  这些就是未来将会被复用的内容片段，只要修改</code>conrefs.yml<code>文件，并且用 jekyll 重新 build 全站文档，就可以做到一处修改多处生效。
  - 在实际的帮助文档的 markdown 源码中引用这些片段：
</code>markdown</p>
<h3><a class="anchor" name="create-a-new-repository-on-github"></a>Create a new repository on GitHub <a class="hash-link" href="#create-a-new-repository-on-github">#</a></h3>
<ol>
<li>In the upper-right corner of any page, click {{ octicon-plus&quot; }}, and then click <strong>New repository</strong>. <img src="https://help.github.com/assets/images/help/repository/repo-create.png" alt="New repository menu"></li>
<li>
<img src="/assets/images/help/repository/create-repository-name.png" alt="Repository name field">Create a short, memorable name for your repository. For example, &quot;hello-world&quot;.<br>
```
将会被替换为下图所示的样子
<img src="http://i.teamkn.com/i/qhSuTgON.png" alt=""></li>
</ol>

</div>



      </div>
    
      <div class="post-list-item">
        


<h1>

  <a href="/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html">Deprecating JSTransform and react-tools</a>

</h1>

<p class="meta">
  June 12, 2015
  by
  
    <a href="https://twitter.com/zpao">Paul O’Shannessy</a>
  
</p>

<hr>

<div class="post">
  <p>Today we&#39;re announcing the deprecation of react-tools and JSTransform.</p>

<p>As many people have noticed already, React and React Native have both switched their respective build systems to make use of <a href="http://babeljs.io/">Babel</a>. This replaced <a href="https://github.com/facebook/jstransform">JSTransform</a>, the source transformation tool that we wrote at Facebook. JSTransform has been really good for us over the past several years, however as the JavaScript language continues to evolve, the architecture we used has begun to show its age. We&#39;ve faced maintenance issues and lagged behind implementing new language features. Last year, Babel (previously 6to5) exploded onto the scene, implementing new features at an amazing pace. Since then it has evolved a solid plugin API, and implemented some of our non-standard language features (JSX and Flow type annotations).</p>

<p>react-tools has always been a very thin wrapper around JSTransform. It has served as a great tool for the community to get up and running, but at this point we&#39;re ready to <a href="https://www.youtube.com/watch?v=moSFlvxnbgk">let it go</a>. We won&#39;t ship a new version for v0.14.</p>
<h2><a class="anchor" name="migrating-to-babel"></a>Migrating to Babel <a class="hash-link" href="#migrating-to-babel">#</a></h2>
<p>Many people in the React and broader JavaScript community have already adopted Babel. It has <a href="http://babeljs.io/docs/setup/">integrations with a number of tools</a>. Depending on your tool, you&#39;ll want to read up on the instructions.</p>

<p>We&#39;ve been working with the Babel team as we started making use of it and we&#39;re confident that it will be the right tool to use with React.</p>
<h2><a class="anchor" name="other-deprecations"></a>Other Deprecations <a class="hash-link" href="#other-deprecations">#</a></h2><h3><a class="anchor" name="esprima-fb"></a>esprima-fb <a class="hash-link" href="#esprima-fb">#</a></h3>
<p>As a result of no longer maintaining JSTransform, we no longer have a need to maintain our Esprima fork (<a href="https://github.com/facebook/esprima/">esprima-fb</a>). The upstream Esprima and other esprima-based forks, like Espree, have been doing an excellent job of supporting new language features recently. If you have a need of an esprima-based parser, we encourage you to look into using one of those.</p>

<p>Alternatively, if you need to parse JSX, take a look at <a href="https://github.com/marijnh/acorn">acorn</a> parser in combination with <a href="https://github.com/RReverser/acorn-jsx">acorn-jsx</a> plugin which is used inside of Babel and thus always supports the latest syntax.</p>
<h3><a class="anchor" name="jsxtransformer"></a>JSXTransformer <a class="hash-link" href="#jsxtransformer">#</a></h3>
<p>JSXTransformer is another tool we built specifically for consuming JSX in the browser. It was always intended as a quick way to prototype code before setting up a build process. It would look for <code>&lt;script&gt;</code> tags with <code>type=&quot;text/jsx&quot;</code> and then transform and run. This ran the same code that react-tools ran on the server. Babel ships with <a href="https://babeljs.io/docs/usage/browser/">a nearly identical tool</a>, which has already been integrated into <a href="https://jsbin.com/">JS Bin</a>.</p>

<p>We&#39;ll be deprecating JSXTransformer, however the current version will still be available from various CDNs and Bower.</p>

</div>



      </div>
    
      <div class="post-list-item">
        


<h1>

  <a href="/react/blog/2015/05/22/react-native-release-process.html">React Native Release Process</a>

</h1>

<p class="meta">
  May 22, 2015
  by
  
    <a href="https://twitter.com/vjeux">Vjeux</a>
  
</p>

<hr>

<div class="post">
  <p>The React Native release process have been a bit chaotic since we open sourced. It was unclear when new code was released, there was no changelog, we bumped the minor and patch version inconsistently and we often had to submit updates right after a release to fix a bad bug. In order to <em>move fast with stable infra</em>, we are introducing a real release process with a two-week release schedule.</p>

<p>To explain how it works, let me walk you through an example. Today, Friday, we took the current state of master and put it on the 0.5-stable branch. We <a href="https://github.com/facebook/react-native/releases/tag/v0.5.0-rc">published 0.5.0-rc</a>, an RC (Release Candidate) when we cut the branch. For two weeks, we&#39;re going to let it stabilize and only cherry-pick critical bug fixes from master.</p>

<p>Friday in two weeks, we&#39;re going to publish the 0.5.0 release, create the 0.6-stable branch and publish 0.6.0-rc as well.</p>

<p>The release process is synchronized with Facebook&#39;s mobile release process. This means that everything in the open source release is also being shipped as part of all the Facebook apps that use React Native!</p>

<p>You now have three ways to get React Native. You should chose the one you want based on the amount of risk you tolerate:</p>

<ul>
<li><strong>master</strong>: You have updates as soon as they are committed. This is if you want to live on the bleeding edge or want to submit pull requests.</li>
<li><strong>rc</strong>: If you don&#39;t want to update every day and deal with many instabilities but want to have recent updates, this is your best shot.</li>
<li><strong>release</strong>: This is the most stable version we offer. The trade-off is that it contains commits that are up to a month old.</li>
</ul>

<p>If you want more details, I highly recommend this video that explains how Facebook mobile release process works and why it was setup this way.</p>

<iframe width="650" height="300" src="https://www.youtube.com/embed/mOyoTUETmSM" frameborder="0" allowfullscreen></iframe>

</div>



      </div>
    
      <div class="post-list-item">
        


<h1>

  <a href="/react/blog/2015/05/08/react-v0.13.3.html">React v0.13.3</a>

</h1>

<p class="meta">
  May  8, 2015
  by
  
    <a href="https://twitter.com/zpao">Paul O’Shannessy</a>
  
</p>

<hr>

<div class="post">
  <p>Today we&#39;re sharing another patch release in the v0.13 branch. There are only a few small changes, with a couple to address some issues that arose around that undocumented feature so many of you are already using: <code>context</code>. We also improved developer ergonomics just a little bit, making some warnings better.</p>

<p>The release is now available for download:</p>

<ul>
<li><strong>React</strong><br>
Dev build with warnings: <a href="https://fb.me/react-0.13.3.js">https://fb.me/react-0.13.3.js</a><br>
Minified build for production: <a href="https://fb.me/react-0.13.3.min.js">https://fb.me/react-0.13.3.min.js</a><br></li>
<li><strong>React with Add-Ons</strong><br>
Dev build with warnings: <a href="https://fb.me/react-with-addons-0.13.3.js">https://fb.me/react-with-addons-0.13.3.js</a><br>
Minified build for production: <a href="https://fb.me/react-with-addons-0.13.3.min.js">https://fb.me/react-with-addons-0.13.3.min.js</a><br></li>
<li><strong>In-Browser JSX transformer</strong><br>
<a href="https://fb.me/JSXTransformer-0.13.3.js">https://fb.me/JSXTransformer-0.13.3.js</a></li>
</ul>

<p>We&#39;ve also published version <code>0.13.3</code> of the <code>react</code> and <code>react-tools</code> packages on npm and the <code>react</code> package on bower.</p>

<hr>
<h2><a class="anchor" name="changelog"></a>Changelog <a class="hash-link" href="#changelog">#</a></h2><h3><a class="anchor" name="react-core"></a>React Core <a class="hash-link" href="#react-core">#</a></h3><h4><a class="anchor" name="new-features"></a>New Features <a class="hash-link" href="#new-features">#</a></h4>
<ul>
<li>Added <code>clipPath</code> element and attribute for SVG</li>
<li>Improved warnings for deprecated methods in plain JS classes</li>
</ul>
<h4><a class="anchor" name="bug-fixes"></a>Bug Fixes <a class="hash-link" href="#bug-fixes">#</a></h4>
<ul>
<li>Loosened <code>dangerouslySetInnerHTML</code> restrictions so <code>{__html: undefined}</code> will no longer throw</li>
<li>Fixed extraneous context warning with non-pure <code>getChildContext</code></li>
<li>Ensure <code>replaceState(obj)</code> retains prototype of <code>obj</code></li>
</ul>
<h3><a class="anchor" name="react-with-add-ons"></a>React with Add-ons <a class="hash-link" href="#react-with-add-ons">#</a></h3><h3><a class="anchor" name="bug-fixes"></a>Bug Fixes <a class="hash-link" href="#bug-fixes">#</a></h3>
<ul>
<li>Test Utils: Ensure that shallow rendering works when components define <code>contextTypes</code></li>
</ul>

</div>



      </div>
    
      <div class="post-list-item">
        


<h1>

  <a href="/react/blog/2015/05/01/graphql-introduction.html">GraphQL Introduction</a>

</h1>

<p class="meta">
  May  1, 2015
  by
  
    <a href="https://twitter.com/schrockn">Nick Schrock</a>
  
</p>

<hr>

<div class="post">
  <p>At the React.js conference in late January 2015, we revealed our next major technology in the React family: <a href="http://facebook.github.io/react/blog/2015/02/20/introducing-relay-and-graphql.html">Relay</a>. </p>

<p>Relay is a new way of structuring client applications that co-locates data-fetching requirements and React components. Instead of placing data fetching logic in some other part of the client application – or embedding this logic in a custom endpoint on the server – we instead co-locate a <em>declarative</em> data-fetching specification alongside the React component. The language of this declarative specification is GraphQL.</p>

<p>GraphQL was not invented to enable Relay. In fact, GraphQL predates Relay by nearly three years. It was invented during the move from Facebook&#39;s HTML5-driven mobile applications to purely native applications. It is a query language for graph data that powers the lion&#39;s share of interactions in the Facebook Android and iOS applications. Any user of the native iOS or Android app in the last two years has used an app powered by GraphQL.</p>

<p>We plan to open-source a reference implementation of a GraphQL server and publish a language specification in the coming months. Our goal is to evolve GraphQL to adapt to a wide range of backends, so that projects and companies can use this technology to access their own data. We believe that this is a compelling way to structure servers and to provide powerful abstractions, frameworks and tools – including, but not exclusively, Relay – for product developers.</p>
<h2><a class="anchor" name="what-is-graphql"></a>What is GraphQL? <a class="hash-link" href="#what-is-graphql">#</a></h2>
<p>A GraphQL query is a string interpreted by a server that returns data in a specified format. Here is an example query: </p>
<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="p">{</span>
  <span class="nx">user</span><span class="p">(</span><span class="nx">id</span><span class="o">:</span> <span class="mi">3500401</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">id</span><span class="p">,</span>
    <span class="nx">name</span><span class="p">,</span>
    <span class="nx">isViewerFriend</span><span class="p">,</span>
    <span class="nx">profilePicture</span><span class="p">(</span><span class="nx">size</span><span class="o">:</span> <span class="mi">50</span><span class="p">)</span>  <span class="p">{</span>
      <span class="nx">uri</span><span class="p">,</span>
      <span class="nx">width</span><span class="p">,</span>
      <span class="nx">height</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre></div>
<p>(Note: this syntax is slightly different from previous GraphQL examples. We&#39;ve recently been making improvements to the language.)</p>

<p>And here is the response to that query.</p>
<div class="highlight"><pre><code class="language-json" data-lang="json"><span class="p">{</span>
  <span class="nt">&quot;user&quot;</span> <span class="p">:</span> <span class="p">{</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">3500401</span><span class="p">,</span>
    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Jing Chen&quot;</span><span class="p">,</span>
    <span class="nt">&quot;isViewerFriend&quot;</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
    <span class="nt">&quot;profilePicture&quot;</span><span class="p">:</span> <span class="p">{</span>
      <span class="nt">&quot;uri&quot;</span><span class="p">:</span> <span class="s2">&quot;http://someurl.cdn/pic.jpg&quot;</span><span class="p">,</span>
      <span class="nt">&quot;width&quot;</span><span class="p">:</span> <span class="mi">50</span><span class="p">,</span>
      <span class="nt">&quot;height&quot;</span><span class="p">:</span> <span class="mi">50</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre></div>
<p>We will dig into the syntax and semantics of GraphQL in a later post, but even a simple example shows many of its design principles:</p>

<ul>
<li><strong>Hierarchical:</strong> Most product development today involves the creation and manipulation of view hierarchies. To achieve congruence with the structure of these applications, a GraphQL query itself is a hierarchical set of fields. The query is shaped just like the data it returns. It is a natural way for product engineers to describe data requirements.</li>
<li><strong>Product-centric:</strong> GraphQL is unapologetically driven by the requirements of views and the front-end engineers that write them. We start with their way of thinking and requirements and build the language and runtime necessary to enable that.</li>
<li><strong>Client-specified queries:</strong> In GraphQL, the specification for queries are encoded in the <em>client</em> rather than the <em>server</em>. These queries are specified at field-level granularity. In the vast majority of applications written without GraphQL, the server determines the data returned in its various scripted endpoints. A GraphQL query, on the other hand, returns exactly what a client asks for and no more.</li>
<li><strong>Backwards Compatible:</strong> In a world of deployed native mobile applications with no forced upgrades, backwards compatibility is a challenge. Facebook, for example, releases apps on a two week fixed cycle and pledges to maintain those apps for <em>at least</em> two years. This means there are at a <em>minimum</em> 52 versions of our clients per platform querying our servers at any given time. Client-specified queries simplifies managing our backwards compatibility guarantees.</li>
<li><strong>Structured, Arbitrary Code:</strong> Query languages with field-level granularity have typically queried storage engines directly, such as SQL. GraphQL instead imposes a structure onto a server, and exposes fields that are backed by <em>arbitrary code</em>. This allows for both server-side flexibility and a uniform, powerful API across the entire surface area of an application.</li>
<li><strong>Application-Layer Protocol:</strong> GraphQL is an application-layer protocol and does not require a particular transport. It is a string that is parsed and interpreted by a server.</li>
<li><strong>Strongly-typed:</strong> GraphQL is strongly-typed. Given a query, tooling can ensure that the query is both syntactically correct and valid within the GraphQL type system before execution, i.e. at development time, and the server can make certain guarantees about the shape and nature of the response. This makes it easier to build high quality client tools.</li>
<li><strong>Introspective:</strong> GraphQL is introspective. Clients and tools can query the type system using the GraphQL syntax itself. This is a powerful platform for building tools and client software, such as automatic parsing of incoming data into strongly-typed interfaces. It is especially useful in statically typed languages such as Swift, Objective-C and Java, as it obviates the need for repetitive and error-prone code to shuffle raw, untyped JSON into strongly-typed business objects.</li>
</ul>
<h2><a class="anchor" name="why-invent-something-new"></a>Why invent something new? <a class="hash-link" href="#why-invent-something-new">#</a></h2>
<p>Obviously GraphQL is not the first system to manage client-server interactions. In today&#39;s world there are two dominant architectural styles for client-server interaction: REST and <em>ad hoc</em> endpoints. </p>
<h3><a class="anchor" name="rest"></a>REST <a class="hash-link" href="#rest">#</a></h3>
<p>REST an acronym for Representational State Transfer, which is an architectural style rather than a formal protocol. There is actually much debate about what exactly REST is and is not. We wish to avoid such debates. We are interested in the typical attributes of systems that <em>self-identify</em> as REST, rather than systems which are formally REST.</p>

<p>Objects in a typical REST system are addressable by URI and interacted with using verbs in the HTTP protocol. An HTTP GET to a particular URI fetches an object and returns a server-specified set of fields. An HTTP PUT edits an object; an HTTP DELETE deletes an object; and so on.</p>

<p>We believe there are a number of weakness in typical REST systems, ones that are particularly problematic in mobile applications:</p>

<ul>
<li>Fetching complicated object graphs require multiple round trips between the client and server to render single views. For mobile applications operating in variable network conditions, these multiple roundtrips are highly undesirable.</li>
<li>Invariably fields and additional data are added to REST endpoints as the system requirements change. However, old clients also receive this additional data as well, because the data fetching specification is encoded on the server rather than the client. As result, these payloads tend to grow over time for all clients. When this becomes a problem for a system, one solution is to overlay a versioning system onto the REST endpoints. Versioning also complicates a server, and results in code duplication, spaghetti code, or a sophisticated, hand-rolled infrastructure to manage it. Another solution to limit over-fetching is to provide multiple views – such as “compact” vs “full” – of the same REST endpoint, however this coarse granularity often does not offer adequate flexibility.</li>
<li>REST endpoints are usually weakly-typed and lack machine-readable metadata. While there is much debate about the merits of strong- versus weak-typing in distributed systems, we believe in strong typing because of the correctness guarantees and tooling opportunities it provides. Developer deal with systems that lack this metadata by inspecting frequently out-of-date documentation and then writing code against the documentation.</li>
<li>Many of these attributes are linked to the fact that “REST is intended for long-lived network-based applications that span multiple organizations” <a href="http://roy.gbiv.com/untangled/2008/rest-apis-must-be-hypertext-driven">according to its inventor</a>. This is not a requirement for APIs that serve a client app built within the same organization.</li>
</ul>

<p>Nearly all externally facing REST APIs we know of trend or end up in these non-ideal states, as well as nearly all <em>internal</em> REST APIs. The consequences of opaqueness and over-fetching are more severe in internal APIs since their velocity of change and level of usage is almost always higher.</p>

<p>Because of multiple round-trips and over-fetching, applications built in the REST style inevitably end up building <em>ad hoc</em> endpoints that are superficially in the REST style. These actually couple the data to a particular view which explicitly violates one of REST&#39;s major goals. Most REST systems of any complexity end up as a continuum of endpoints that span from “traditional” REST to <em>ad hoc</em> endpoints.</p>
<h3><a class="anchor" name="ad-hoc-endpoints"></a>Ad Hoc Endpoints <a class="hash-link" href="#ad-hoc-endpoints">#</a></h3>
<p>Many applications have no formalized client-server contract. Product developers access server capabilities through <em>ad hoc</em> endpoints and write custom code to fetch the data they need. Servers define procedures, and they return data. This approach has the virtue of simplicity, but can often become untenable as systems age.</p>

<ul>
<li>These systems typically define a custom endpoint per view. For systems with a wide surface area this can quickly grow into a maintenance nightmare of orphaned endpoints, inconsistent tooling, and massive server code duplication. Disciplined engineering organizations can mitigate these issues with great engineering practices, high quality abstractions, and custom tooling. However, given our experience we believe that custom endpoints tend to lead to entropic server codebases.</li>
<li>Much like REST, the payloads of custom endpoints grow monotonically (even with mitigation from versioning systems) as the server evolves. Deployed clients cannot break, and, with rapid release cycles and backwards compatibility guarantees, distributed applications will have large numbers of extant versions. Under these constraints it is difficult remove data from a custom endpoint.</li>
<li>Custom endpoints tend to – for a client developer – create a clunky, multi-language, multi-environment development process. No matter if the data has been accessed before in a different view, they are required to first change the custom endpoint, then deploy that code to a server accessible from a mobile device, and only then change the client to utilize that data. In GraphQL  – unless the data in the view is completely new to the entire system  – a product developer adds a field to a GraphQL query and the work on the client continues unabated.</li>
<li>Much like REST, most systems with custom endpoints do not have a formalized type system, which eliminates the possibility for the tools and guarantees that introspective type systems can provide. Some custom-endpoint-driven systems do use a strongly typed serialization scheme, such as Protocol Buffers, Thrift, or XML. Those do allow for direct parsing of responses into typed classes and eliminating boilerplate shuffling from JSON into handwritten classes. These systems are as not as expressive and flexible as GraphQL, and the other downsides of <em>ad hoc</em> endpoints remain.</li>
</ul>

<p>We believe that GraphQL represents a novel way of structuring the client-server contract. Servers publish a type system specific to their application, and GraphQL provides a unified language to query data within the constraints of that type system. That language allows product developers to express data requirements in a form natural to them: a declarative and hierarchal one.</p>

<p>This is a liberating platform for product developers. With GraphQL, no more contending with <em>ad hoc</em> endpoints or object retrieval with multiple roundtrips to access server data; instead an elegant, hierarchical, declarative query dispatched to a single endpoint. No more  frequent jumps between client and server development environments to do experimentation or to change or create views of existing data; instead experiments are done and new views built within a native, client development environment exclusively. No more shuffling unstructured data from <em>ad hoc</em> endpoints into business objects; instead a powerful, introspective type system that serves as a platform for tool building.</p>

<p>Product developers are free to focus on their client software and requirements while rarely leaving their development environment; they can more confidently support shipped clients as a system evolves; and they are using a protocol designed to operate well within the constraints of mobile applications. Product developers can query for exactly what they want, in the way they think about it, across their entire application&#39;s data model. </p>
<h2><a class="anchor" name="whats-next"></a>What&#39;s next? <a class="hash-link" href="#whats-next">#</a></h2>
<p>Over the coming months, we will share more technical details about GraphQL, including additional language features, tools that support it, and how it is built and used at Facebook. These posts will culminate in a formal specification of GraphQL to guide implementors across various languages and platforms. We also plan on releasing a reference implementation in the summer, in order to provide a basis for custom deployments and a platform for experimentation. We&#39;re incredibly excited to share this system and work with the open source community to improve it.</p>

</div>



      </div>
    

    <div class="pagination">
      
      
        <a href="/react/blog/page2/" class="next">
          Next Page &raquo;
        </a>
      
    </div>
  </div>
</section>


    <footer class="wrap">
      <div class="left">
        A Facebook &amp; Instagram collaboration.<br>
        <a href="/help-doc/v008/acknowledgements.html">Acknowledgements</a>
      </div>
      <div class="right">
        &copy; 2013&ndash;2015 Facebook Inc.<br>
        Documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
      </div>
    </footer>
  </div>

</body>
</html>
