{% for cat in site.categories %}
  {% assign cat_str = cat[0] %}
  <div class='category'>
    <div class='name'>
      <a href="{{ cat_str | downcase | replace:' ','-' | prepend:'/categories/' | prepend: site.baseurl | prepend: site.url}}">{{ cat_str | capitalize }}</a>
    </div>
    <div class='articles'>
      {% for post in site.categories[cat_str] %}
      <div class='article'>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <ul>
          {% for coll in site.collections %}
            {% assign coll-id = coll[0] | downcase %}
            {% assign post-id = post.title | replace:' ','_' | downcase %}
            {% if coll-id == post-id %}
              {% assign coll-obj = site.creating_a_new_organization_account %}
              {% include sub-articles.html which-coll=coll-obj %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
